# Đồ án cuối kì Lập trình cho khoa học dữ liệu

## Thành viên nhóm


| |Họ và tên|MSSV|
|:--:|:--|:--:|
|1|Võ Thành Nam|19120301|
|2|Phạm Lưu Mỹ Phúc|19120331|

## Môi trường code

In [1]:
import sys
sys.executable

'/home/poreooo/anaconda3/envs/min_ds-env/bin/python'

## Tổng quan về dữ liệu sẽ được dùng để phân tích

Bộ dữ liệu được sử dụng là file `DataScientist.csv`. Đây là dữ liệu nằm trong một bộ dữ liệu gồm nhiều file khác về thông tin tuyển dụng của những ngành nghề liên quan đến Data. 
- Bộ dữ liệu được tác giả *picklesueat* lấy từ trang web https://www.glassdoor.com/ (một trang web tìm kiếm việc làm), sử dụng công cụ `selenium`. 
- Bộ dữ liệu đã được tác giả public tại [Github](https://github.com/picklesueat/data_jobs_data) và được reup tại [Kaggle](https://www.kaggle.com/andrewmvd/data-scientist-jobs).
- Về license của dữ liệu, tác giả không đề cập cụ thể mà cho phép mọi người có thể tải xuống tùy ý.
- File dữ liệu `DataScientist.csv` là file dữ liệu về thông tin tuyển dụng của nghề Data Scientist bao gồm tên vị trí tuyển dụng, mức lương, tên công ty,...

## Import các thư viện cần thiết

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib as plt

## Khám phá dữ liệu

### Đọc dữ liệu vào từ file csv vào dataframe

In [3]:
ds_df = pd.read_csv('DataScientist.csv')
ds_df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

Đầu tiên, ta thấy dữ liệu có đến 2 cột index, ta sẽ không sử dụng 2 cột này, do đó sẽ loại bỏ 2 cột này đi.

In [4]:
ds_df.drop(columns = ['Unnamed: 0','index'],inplace = True)
ds_df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

### Số lượng dòng và cột của dữ liệu

In [5]:
n_rows = ds_df.shape[0]
n_cols = ds_df.shape[1]
print(f'Number of rows: {n_rows}')
print(f'Number of columns: {n_cols}')

Number of rows: 3909
Number of columns: 15

### Xét xem các dữ liệu có trùng nhau hay không

In [6]:
print(f'Number of duplicated rows: {sum(ds_df.duplicated())}')

Number of duplicated rows: 0

### Ý nghĩa của các cột trong dataframe
(Dựa theo mô tả tại trang web [Kaggle](https://www.kaggle.com/andrewmvd/data-scientist-jobs))

- Job Title: tên vị trí tuyển dụng.
- Salary Estimate: mức lương dự kiến.
- Job Description: mô tả công việc.
- Rating: điểm đánh giá.
- Company Name: tên công ty.
- Location: địa điểm làm việc.
- Headquarters: trụ sở công ty.
- Size: kích thước công ty (số lượng nhân viên).
- Founded: năm thành lập công ty.
- Type of ownership: loại hình sở hữu của công ty.
- Industry: phân loại ngành của công ty.
- Sector: lĩnh vực của công ty.
- Revenue: doanh thu của công ty (theo năm).
- Competitors: công ty đối thủ.
- Easy Apply: công ty có dễ apply hay không.

### Sơ lược về dữ liệu trong các cột

In [7]:
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          3909 non-null   object
 1   Salary Estimate    3909 non-null   object
 2   Job Description    3909 non-null   object
 3   Rating             3909 non-null   float64
 4   Company Name       3909 non-null   object
 5   Location           3909 non-null   object
 6   Headquarters       3909 non-null   object
 7   Size               3909 non-null   object
 8   Founded            3909 non-null   int64
 9   Type of ownership  3909 non-null   object
 10  Industry           3909 non-null   object
 11  Sector             3909 non-null   object
 12  Revenue            3909 non-null   object
 13  Competitors        3909 non-null   object
 14  Easy Apply         3909 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 458.2+ KB

### Nhận xét chung

- Như ta có thể thấy, dữ liệu không có bất kì dòng nào thiếu hay trùng lắp. Tuy nhiên, khi quan sát bảng dữ liệu ở phía trên, có thế thấy tác giả đã thay thế các dữ liệu (có thể là bị thiếu) bằng giá trị -1.
- Những cột đáng lẽ cần phải ở kiểu dữ liệu là số như `Salary Estimate`, `Size` thì lại có kiểu dữ liệu là object, ta cần phải xử lí những cột này.
- Cột `Company Name` có vẻ bị lỗi khi thu thập dữ liệu (tên công ty gắn liền với rating)
- Cột `Easy Apply` chỉ nên có giá trị `True` hoặc `False`.
- ...
Ta không quan sát được toàn bộ dữ liệu, do đó, ta sẽ phân tích và tiền xử lí cho từng cột trong phần tiền xử lí dữ liệu.

## Tiền xử lí dữ liệu

In [8]:
ds_df.iloc[:,lambda df: [0,2,4,6,8,10,12,14]]

,Job Title,Job Description,Company Name,Headquarters,Founded,Industry,Revenue,Easy Apply
0,Senior Data Scientist,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"Montreal, Canada",2007,Travel Agencies,Unknown / Non-Applicable,-1
1,"Data Scientist, Product Analytics","At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY",2008,"Health, Beauty, & Fitness",Unknown / Non-Applicable,-1
2,Data Science Manager,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,Decode_M,"New York, NY",-1,-1,Unknown / Non-Applicable,True
3,Data Analyst,Sapphire Digital seeks a dynamic and driven mi...,Sapphire Digital\n3.4,"Lyndhurst, NJ",2019,Internet,Unknown / Non-Applicable,-1
4,"Director, Data Science","Director, Data Science - (200537)\nDescription...",United Entertainment Group\n3.4,"New York, NY",2007,Advertising & Marketing,Unknown / Non-Applicable,-1
...,...,...,...,...,...,...,...,...
3904,AWS Data Engineer,About Us\n\nTachyon Technologies is a Digital ...,Tachyon Technologies\n4.4,"Irving, TX",2011,IT Services,$10 to $25 million (USD),-1
3905,Data Analyst â Junior,"Job description\nInterpret data, analyze resul...","Staffigo Technical Services, LLC\n5.0","Woodridge, IL",2008,IT Services,$50 to $100 million (USD),-1
3906,Security Analytics Data Engineer,Job DescriptionThe Security Analytics Data Eng...,"PDS Tech, Inc.\n3.8","Irving, TX",1977,Staffing & Outsourcing,$100 to $500 million (USD),-1
3907,Security Analytics Data Engineer,The Security Analytics Data Engineer will inte...,Data Resource Technologies\n4.0,"Omaha, NE",-1,Accounting,Less than $1 million (USD),-1
3908,Patient Safety Physician or Safety Scientist -...,"Help us transform patients' lives.\nAt UCB, we...",UCB\n3.7,"Brussel, Belgium",-1,Biotech & Pharmaceuticals,$2 to $5 billion (USD),-1

Quan sát cột `Job Title` ta thấy một số dòng sẽ gồm nhiều công việc, nhưng nếu lấy tất cả công việc thì gần như không khả thi vì chúng không theo quy luật nào. Vì vậy, ta chỉ lấy công việc đầu tiên tại các dòng.

In [26]:
ds_df['Job Title'] = ds_df['Job Title'].apply(lambda x:''.join(re.compile("[,\/-]").split(x)[:1]))
ds_df['Job Title'].value_counts()

Data Scientist                     357
Data Engineer                      290
Data Analyst                       278
Senior Data Scientist              105
Data Scientist                      70
                                  ...
eDiscovery Data Analyst              1
Wi                                   1
LEAD COMPUTER SCIENTIST              1
Data Engineer (Big Data Hadoop)      1
Translational Scientist Liaison      1
Name: Job Title, Length: 1378, dtype: int64

Như đã nói ở phần Khám phá dữ liệu, cột `Company Name` đã bị lỗi khi thu thập dữ liệu (tên công ty gắn liền với rating). Vì đã có cột `Rating` nên ta sẽ thực hiện xóa phần rating bị thừa trong cột này.

In [10]:
ds_df['Company Name'] = ds_df['Company Name'].apply(lambda x:x.split('\n')[0])

In [13]:
ds_df["Founded"].unique()

array([2007, 2008,   -1, 2019, 1985, 1993, 2018, 2000, 2014, 2011, 1999,
       2001, 1998, 2005, 1943, 2012, 1923, 2003, 2002, 2015, 2006, 2010,
       1853, 1990, 1914, 2013, 2004, 1799, 1935, 1995, 1994, 1988, 1917,
       1947, 1981, 1940, 1841, 2017, 1896, 2009, 1898, 1968, 1862, 1934,
       1992, 2016, 1984, 1987, 1966, 1976, 1871, 1625, 1997, 1967, 1948,
       1913, 1989, 1893, 1904, 1911, 1961, 1806, 1969, 1945, 1784, 1857,
       1971, 1852, 1922, 1851, 1956, 1906, 1973, 1960, 1975, 1982, 1996,
       1931, 1986, 1902, 1909, 1880, 1946, 1970, 1979, 1977, 1965, 1954,
       1850, 1980, 1919, 1983, 1888, 1978, 1872, 1831, 1936, 1939, 1937,
       1928, 1991, 1929, 1944, 1901, 1974, 1925, 1817, 1963, 1894, 1890,
       1882, 1892, 1908, 1926, 1883, 1845, 1849, 1918, 1900, 1889, 1837,
       1930, 1877, 1910, 1962, 1955, 1897, 1949, 1972, 1941, 1957, 1924,
       1891, 1864, 1951, 1847, 1775, 1843, 1855, 1740, 1792, 1830, 1887,
       1682, 1881, 1824, 1916, 1812, 1905, 1953, 1876, 1848, 1858, 1958,
       1938, 1868, 1781, 1895, 1869, 1921, 2020, 1865, 1933, 1907, 1927,
       1950, 1952, 1870, 1912, 1920, 1932, 1803, 1866])

Quan sát cột `Founded` ta cần thay thế các giá trị `-1` ở cột này thành giá trị `Nan`, các giá trị còn lại đều đã chính xác. Kiểu dữ liệu `int64` đã phù hợp với ý nghĩa của cột là năm thành lập công ty.

Thực hiện thay thế giá trị `-1` của cột `Founded`, `Headquarters`, `Industry` bằng giá trị `np.nan`

In [27]:
ds_df[["Headquarters","Industry"]] = ds_df[["Headquarters","Industry"]].replace(-1, np.nan)

In [20]:
ds_df["Headquarters"].value_counts()

New York, NY           297
San Diego, CA          179
Chicago, IL            158
Austin, TX             106
Los Angeles, CA         87
                      ...
Hoffman Estates, IL      1
Hellerup, Denmark        1
Calistoga, CA            1
Old Bridge, NJ           1
Centennial, CO           1
Name: Headquarters, Length: 542, dtype: int64

In [81]:
ds_df["Industry"].value_counts()

IT Services                             472
Staffing & Outsourcing                  313
Biotech & Pharmaceuticals               293
Computer Hardware & Software            264
Internet                                238
                                       ...
Health Fundraising Organizations          1
Religious Organizations                   1
Beauty & Personal Accessories Stores      1
Museums, Zoos & Amusement Parks           1
Auto Repair & Maintenance                 1
Name: Industry, Length: 95, dtype: int64

Sau khi thay thế `-1` trong các cột `Founded`, `Headquarters`, `Industry` thì trong các cột không còn giá trị nào bất thường.

In [84]:
ds_df["Revenue"].value_counts()

Unknown / Non-Applicable            1163
$10+ billion (USD)                   599
$100 to $500 million (USD)           338
-1                                   229
$50 to $100 million (USD)            214
$2 to $5 billion (USD)               211
$10 to $25 million (USD)             191
$1 to $2 billion (USD)               180
$1 to $5 million (USD)               170
$25 to $50 million (USD)             143
$5 to $10 billion (USD)              133
Less than $1 million (USD)           124
$500 million to $1 billion (USD)     114
$5 to $10 million (USD)              100
Name: Revenue, dtype: int64

In [9]:
ds_df["Easy Apply"].value_counts()

-1      3745
True     164
Name: Easy Apply, dtype: int64

Cột `Easy Apply` hiện tại gồm 2 giá trị -1 và True. Vì cung cấp thông tin công ty có dễ apply hay không, cột nên mang giá trị `True` hoặc `False`. Do đó, ta thực hiện replace -1 bằng `False` và chuyển dtype của cột về đúng dạng `bool`

In [23]:
ds_df["Easy Apply"] = ds_df["Easy Apply"].replace('-1', False).astype(bool)

## Đưa ra các câu hỏi cần trả lời

Câu 1

Câu 2

Câu 3

### Câu hỏi 1:

### Câu hỏi 2:

### Câu hỏi 3:

## Tổng kết

## Tài liệu tham khảo